{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block style %}
<style>
    html {
        height: 100%;
    }
    
    body {
        min-height: 100%;
    }

    .main-login-container {
        padding: 20px;
        border: 1px solid #00000029;
        border-radius: 12px;
        max-width: 600px;
        margin: 50px auto;
    }

    .main-login-form-group {
        width: 75%;
        margin: auto;
    }

    #auth-title {
        font-size: 48px;
        font-weight: bold;
        color:black;
    }
</style>
{% endblock %}

{% block content %}
<div class="container main-login-container">
    <center>
        <span id=auth-title>
            Login
        </span>
    </center>
    <br />
    <form action="{% url 'main:login-post' %}" method="POST" class="form-group main-login-form-group">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <br />
        <label for="password"> Password </label>
        <input type="password" class="form-control" id="password" name="password" required>
        <br />
        <br />
        <div class="btn-wrapper">
        <button type="submit" class="btn btn-primary btn-block" id="login">Login</button>
        </div>
        <br />
    </form>
</div>
{% endblock %}