{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block style %}
<style>
    html {
        height: 100%;
    }
    
    body {
        min-height: 100%;
    }

    .main-home-container {
        padding: 20px;
        border: 1px solid #00000029;
        border-radius: 12px;
        max-width: 600px;
        margin: 50px auto;
    }

    .main-home-row-item {
        display: block;
        padding: 20px;
        margin-bottom: 20px;
        border: 1px solid #007bff;
        border-radius: 12px;
    }

    .main-home-tweet {
        margin-bottom: 10px;
    }

    .main-home-row-hr {
        margin-top: 4px;
        margin-bottom: 5px;
        border-color: #007bff;
    }

    .main-home-tweet-date {
        font-size: 12px;
        color: gray;
    }

    .main-login-btn-wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

</style>
{% endblock %}

{% block content %}
<div class="container main-home-container">
    <form method="POST" action="{% url 'main:home-post' %}">
        {% csrf_token %}
        <textarea class="form-control" rows="5" id="tweet" name="tweet" required></textarea>
        <br />
        <center>
            <div class="btn-wrapper">
                <button type="submit" class="btn btn-primary btn-sm" id="submit">Submit</button>
            </div>
        </center>
    </form>
    <hr />
    <br />
    <div class="container">
        {% for tweet in tweets %}
        <div class="row main-home-row-item">
            <span class="main-home-tweet-date">{{tweet.create_time}}</span>
            <hr class="main-home-row-hr" />
            <p class="main-home-tweet">
                {{tweet.text}}
            </p>
            <form method="POST" action="{% url 'main:home-delete' %}">
                {% csrf_token %}
                <input name="tweet_id" value="{{tweet.tweet_id}}" hidden>
                <div class="btn-wrapper main-login-btn-wrapper">
                    <button class="btn btn-danger btn-sm">delete</button>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}